*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,active{outline: none;}
a::focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*===================================================*/

body{
	width: 1200px;
	background: url(../img/konoha-1.jpg) 0 0/cover no-repeat;
	font-size: 20px;
	line-height: 25px;
}

h1{
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px;
	font-size: 50px;
	text-transform: uppercase;
	color: #000;
}

nav{
	width: 400px;
	border-radius: 20px;
	border: 1px solid #000;
	display: block;
	margin: 20px 20px 20px 400px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 5px;
	background: #fff;
}

a{
	color: #000;
}

a:hover{
	color: #ffb300;
	text-decoration: underline;
}

a:active{
	color: #1ca332;
}

img{
	height: 250px;
	width: auto;
	border-radius: 30px;
	overflow: hidden;
	margin: 20px;
	box-shadow: 5px 5px 10px 5px #fff;
	border: 5px solid #000;
}

span{
	font-style: italic;
	font-weight: 700;
}

h2{
	margin: 20px;
	text-align: center;
	font-size: 25px;
	text-shadow: 1px 1px 2px #f00f00;
	text-decoration: underline;
}

.about{
	margin: 20px;
	border: 5px solid #000;
	border-radius: 30px;
	padding: 20px;
	width: 100%;
	height: auto;
	text-indent: 50px;
	white-space: normal;
	background: rgba(255, 255, 255, 0.9);
}

.form{
	padding: 20px;
	opacity: 1;
	border: 5px solid #000;
	border-radius: 30px;
	margin: 0px 20px;
	background: #fff;
}

.form p{
	margin: 5px 0px;
	font-weight: 600;
}

input{
	border: 1px solid #000;
}

textarea{
	border: 1px solid #000;
}

button{
	margin: 0px 10px;
	border-radius: 10px;
	border: 1px solid #000;
	background-color: #ffbb00;
}

button:hover{
	background-color: #001eff;
}

button:active{
	background-color: #1dcc10;
}

.world{
	margin: 20px;
	border-radius: 30px;
	padding: 20px;
	visibility: visible;
	box-shadow: 5px 5px 10px 5px #000, inset 5px 5px 10px 5px #000;
}

.world li{
	background: url(../img/suriken.png) left top/20px 20px no-repeat;
	padding: 0 0 10px 25px;
}

ul{
	margin: 0px 20px;
}

footer{
}