// Файл обнуляющих стилей
@import "nullstyle.scss";

//------------------------//

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #ebf0f5;
}
.content {
	padding: 100px 0px 1px 0px;
	max-width: 850px;
	margin: 0px auto;
}

.content-top {
	text-align: center;
	margin: 0px 0px 70px 0px;
}
.content-top__title {
	opacity: 0.8;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #5b5e63;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0px 0px 20px 0px;
}
.content-top__subtitle {
	color: #000112;
	font-size: 22px;
	letter-spacing: 2px;
}

.content__image {
	display: flex;
	justify-content: center;
	margin: 0px 0px 50px 0px;

	& img{
		max-width: 100%;
		display: block;
	}
}

.content-bottom {
}
.content-bottom__text {
	font-size: 17px;
	line-height: 35px;
	padding: 0px 25px;
	margin: 0px 0px 30px 0px;
}

.content-bottom-info {
	padding: 15px 100px;
}
.content-bottom-info-list {
	& li{
		font-size: 15px;
		line-height: 30px;
		position: relative;
		padding: 0px 0px 0px 30px;
		margin: 0px 0px 15px 0px;

		&:before{
			content: '';
			width: 20px;
			height: 20px;
			background: url('../img/icons/suriken.png') center/20px auto no-repeat;
			position: absolute;
			top: 3px;
			left: 0;
		}

		& span{
			font-weight: 700;
		}

		&:last-child  
			margin: 0px 0px 90px 0px;
		}
	}
}

.content-bottom-info-link{
	display: flex;
	justify-content: center;
}

.content-bottom-info-link__link {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background-color:#2d2f80;
	border-radius: 30px;
	color: #fff;
	padding: 0px 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;

	transform: scale(1);
	transition-property: background-color, transform;
	transition-duration: .2s, .7s;

	&:hover{
		background-color: #c93838;
		transform: scale(1.1);
		//transition: .2s;
		transition-property: background-color, transform;
		transition-duration: .2s, 1s;
	}

	&:active{
		background-color: #000;
		transition: .2s;
	}
}
.content-bottom-info-circle{
	padding: 0px 50px 0px 0px;
}
.content-bottom-info-circle__circle{
	width: 50px;
	height: 50px;
	background: url('../img/icons/sharingan.png') center no-repeat;
	border-radius: 50%;
	position: relative;
	left: 0;
	margin: 90px 0px 0px 0px;

	animation: black-circle;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes black-circle{
	0%{
		left: 0;
	}
	100%{
		left: 100%;
		transform: rotate(1080deg);
	}
}

@media (max-width: 414px) {
	.content-bottom-info {
		padding: 0px 40px;
	}
}
