// Файл обнуляющих стилей
@import "nullstyle.scss";

//------------------------//

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #ebf0f5;
}
.content {
	padding: 100px 0px;
	max-width: 850px;
	margin: 0px auto;
}

.content-top {
	text-align: center;
	margin: 0px 0px 70px 0px;
}
.content-top__title {
	opacity: 0.8;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #5b5e63;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0px 0px 20px 0px;
}
.content-top__subtitle {
	color: #000112;
	font-size: 22px;
	letter-spacing: 2px;
}

.content__image {
	display: flex;
	justify-content: center;
	margin: 0px 0px 50px 0px;

	& img{
		max-width: 100%;
		//height: 100%;
		display: block;
	}
}

.content-bottom {
}
.content-bottom__text {
	font-size: 17px;
	line-height: 35px;
	padding: 0px 25px;
	margin: 0px 0px 30px 0px;
}

.content-bottom-info {
	padding: 0px 100px;
}
.content-bottom-info-list {
	& li{
		font-size: 15px;
		line-height: 30px;
		margin: 15px 0px;
		background: url('../img/icons/suriken.png') left 3px/20px auto no-repeat;
		padding: 0px 0px 0px 30px;

		& span{
			font-weight: 700;
		}

		&:last-child{
			margin: 0px 0px 70px 0px;
		}

	}
}

.content-bottom-info-link{
	display: flex;
	justify-content: center;
}

.content-bottom-info-link__link {
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background-color:#2d2f80;
	border-radius: 30px;
	color: #fff;
	padding: 0px 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;

	&:hover{
		background-color: #c93838;
		transition: .2s;
	}

	&:active{
		background-color: #000;
		transition: .2s;
	}
}

@media (max-width: 414px) {
	.content-bottom-info {
		padding: 0px 40px;
	}
}
